.MainMenu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: calc(8vh + 16px) 48px 0 48px;
    min-height: calc(84vh - 32px);
    transition: margin-top 0.8s;
    -o-transition: margin-top 0.8s;
    -moz-transition: margin-top 0.8s;
    -webkit-transition: margin-top 0.8s;
}

.MainMenu > div {
    margin: 32px 0;
    display: flex;
    flex-direction: column;
}

.MainMenu > div > button {
    position: relative;
    padding: 16px 32px;
    width: max-content;
    border-radius: 16px;
    font-size: calc(10px + 2vmin);
    font-weight: 500;
    color: #282c34;
    outline: none;
    border: none;
    background-color: transparent;
    text-align: left;
    cursor: pointer;
    transition: padding-left 0.4s;
    -o-transition: padding-left 0.4s;
    -moz-transition: padding-left 0.4s;
    -webkit-transition: padding-left 0.4s;
}

.Dot-green {
    background-color: transparent;
    display: inline-block;
    min-width: 16px;
    min-height: 16px;
    border-radius: 8px;
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transition: background-color 0.2s;
    -o-transition: background-color 0.2s;
    -moz-transition: background-color 0.2s;
    -webkit-transition: background-color 0.2s;
}

.MainMenu > div > button:hover {
    padding-left: 64px;
}

.MainMenu > div > button:hover > .Dot-green {
    background-color: lightgreen;
}