.Game {
    padding: calc(8vh + 16px) 0;
}

.Game-area {
    position: relative;
    min-height: calc(84vh - 32px);
    background-color: white;
    padding: 0 48px;
}

/* .Game-area::before {
    content: "";
    position: absolute;
    top: -4vh;
    left: 0;
    display: block;
    min-height: 4vh;
    width: 100%;
    background: linear-gradient(to top, white, transparent);
} */

.Game-area::after {
    content: "";
    position: absolute;
    bottom: calc(-8vh - 16px);
    left: 0;
    display: block;
    min-height: calc(8vh + 16px);
    width: 100%;
    background-color: white;
}