.App {
  max-height: 100vh;
  background-image: url(./flag.svg);
  background-repeat: no-repeat;
  background-size: calc(5vw + 78vmin);
  background-position: 77% calc(100% + 6vmin);
  overflow: hidden;
}

.App-header {
  position: fixed;
  top: 0;
  left: 0;
  padding: 0 32px;
  min-height: 8vh;
  min-width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: #282c34;
  font-weight: 300;
  background-color: white;
  z-index: 1000;
}

/* .App-header::after {
  content: "";
  position: fixed;
  top: 8vh;
  left: 0;
  display: block;
  min-height: 4vh;
  width: 100%;
  background: linear-gradient(to bottom, white, transparent);
} */

.App-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  min-height: 8vh;
  min-width: 100vw;
  background-color: transparent;
}

h1 {
    font-size: calc(40px + 4vmin);
    font-weight: 500;
    color: #282c34;
}
